/* Universal styling */

body {
  margin: 0;
  color: #484748;
  font-size: 16px;
  font-family: Helvetica;
}

div {
  display: block;

}

/* header styling */

/*header {
  background-image: url(../../resources/media/capstone_colmar_assets/images/banner.jpg);
  height: 30rem;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;

  width: 60%;
}*/

header nav {

  background-color: #fff;
  width: 100%;
  height: 64px;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav div {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1.25rem;
}

nav img {
  height: 40px;
  margin-left: 24px;
}

nav span {
  font-weight: bold;
}

.logo .light {
  color: #A7A7A7;
}

ul {
  margin-right: 16px;
}

ul li {
  display: inline-block;
  margin: 0 8px;
}

.menu-item a {
  text-decoration: none;
  color: #484748;
  font-weight: 550;
}

/* main banner styling */

.main {

}

.container-pic  {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.background {
  background-color: #DADADA;  /* light gray */
}

.image-banner {
/*  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 60%;
  height: auto;
  padding: 0px 24px 32px 24px;
*/
  display: block;
  height: auto;
  position: relative;
  width: 60%;
  margin: 32px 24px;

}

.image-banner img {
  width: 100%;
  height: auto;

}

.headline {
  display: flex;
  flex-direction: column;
  width: 40%;

}

.headline h1 {
  font-size: 2rem;
  font-weight: 900;
  padding-bottom: 2rem;
  margin-right: 50px;
  padding-right: 10px;
}

.headline p {
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 2rem;
  margin-right: 50px;
  padding-right: 10px;
}

/* banner button styling */

.btn_1 {
  background-color: #484748;
  margin-left: 0;
  display: block;
  max-width: 525px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  margin: 8px 50px 0 0;
  padding: 8px 10px;
  border-radius: 2px;
}

.btn_1:hover, .btn_1:visited:hover {
  color: #fff;
  background-color: #76AEED;
}

.btn_1:active, .btn_1:visited:active {
  color: #fff;
  background-color: #5995DA;
}

/* event content styling */

.banner-middle {
  display: flex;
  justify-content: center;
}
   /* left side */

.test {
  display: block;
  height: auto;
  position: relative;
  width: 60%;
  margin: 32px 24px;
}

.image-middle img {
  width: 100%;
  height: auto;


}

.practice h1 {
  font-size: 2.5rem;
  font-weight: 900;
  padding: 32px 0;
}

.practice p {
  font-size: 1.2rem;
  padding-bottom: 32px;
}

.practice span {
  font-size: 0.9rem;
  font-weight: 600;
  padding-bottom: 16px;
}

   /* right side */

.banner-middle .info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
  margin-top: 16px;
  border-left: 1px solid #DADADA;
}

.info-item {
  display: flex;
  align-items: center;

}

.info img {
  margin: 16px;
  width: 35%;
  height: auto;
}

.info .upcoming {
  width: 65%;
  height: auto;
}
.upcoming {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 1rem;

  line-height: 1.75rem;
}

.upcoming h3 {
  font-size: 1.2rem;
  font-weight: 700;
}

.upcoming .more {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: 	#4EA8E2;
}

.orientation {
  border-bottom: double #DADADA;
}

.guest {
  background-color: #DADADA;
}
